

@tailwind base;
@tailwind components;
@tailwind utilities;

body,html{
    /* background-image:linear-gradient(0deg, rgba(3.000000058673322, 0, 0, 1) 0%,rgba(12.000000234693289, 5.000000176951289, 5.000000176951289, 1) 100%) ; */
	
    background-color: #110406;
}


.scrollbar-d-none::-webkit-scrollbar {
    background-color: transparent;
}
#home{
    background: linear-gradient(46deg, #030303, #3c4047);
}