body {
  font-family: 'Abhaya Libre', serif;
  font-family: 'Noto Serif', serif;
  font-family: 'PT Sans Caption', sans-serif;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
