
  @import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Rubik:wght@500&family=Spline+Sans&display=swap');



*{
 
  font-family: 'Spline Sans', sans-serif;
  font-family: 'Rubik', sans-serif;
  font-family: 'DM Serif Display', serif;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
